<div id="builder-basic" style="padding: 12px;" class="query-builder form-inline">
    <formula-group [group]="group" [form]="form"></formula-group>
</div>



<!-- <div class="container">
    <div class="row">
        <div class="col-9">
            <textarea readonly rows="5" tabindex="0" translate="no" name="text_body" spellcheck="false"
                style="width: 100%;">
            </textarea>
        </div>
        <div class="col-3">
            <button class="btn btn-sucess">Generate</button>
        </div>
    </div>
</div> -->
{{ form.value | json }}