<div class="container">
  <div class="center header" style="width: 100%">
    <h3>Verification</h3>
  </div>
</div>
<div class="container">
  <div class="row"></div>
</div>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Rule Main Data</mat-panel-title>
    </mat-expansion-panel-header>
    <app-rule-main></app-rule-main>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Branches</mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <app-branches></app-branches>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Formula </mat-panel-title>
    </mat-expansion-panel-header>

    
  </mat-expansion-panel>
</mat-accordion>
