.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  font-size: large;
  font-weight: bold;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:focus {
  font-size: large;
  font-weight: bold;
}

.mat-expansion-panel-header.mat-focus-indicator {
  font-size: large;
  font-weight: bold;
}